<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="layoutPadrao">
<head>
<meta charset="UTF-8"/>
<title>Cadastro de Veículos</title>
</head>

<section layout:fragment="conteudo">



<div class="container">
<br />
<h3>Cadastro de Veículo</h3>

<a class="btn btn-primary" style="float: right;" th:href="@{/carro}" >Lista Veículos</a>

<br />
<br />

<form class="container" action="/carro" method="POST" th:object="${carro}">

<div layout:include="mensagemErro"></div>

<div layout:include="mensagemGeral"></div>



<br />

<input type="hidden" th:field="*{id}" />

<div class="form-group">
<label for="placa">Placa:</label>
<input class="form-control" placeholder="Informe a Placa Ex: AAA-1111" type="text" th:field="*{placa}" />
</div>

<div class="form-group">
<label for="chassis">Chassis:</label>
<input class="form-control" placeholder="Informe o Chassi" type="text" th:field="*{chassi}"/>
</div>

<div class="form-group">
<label for="valorDaDiaria">Valor da diária:</label>
<input class="form-control js-currency"  placeholder="Informe o valor da Diária" type="text" th:field="*{valorDaDiaria}"/>
</div>


<div class="form-group">
<label for="modelo">Modelo</label>
<select class="custom-select" th:field="*{modelo}"> 
	<option th:each="modelo : ${todosOsModelos}" 
	  th:text="${modelo.descricao}" 
	  th:value="${modelo.id}"></option>
</select>
</div>

<button class="btn btn-primary" type="submit">Salvar</button>

</form>

</div>
</section>

</html>