<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Lista de fabricantes</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
</head>
<body>
<br />
<div class="container">
	<h1>Lista de Fabricantes</h1>

	<a th:href="@{/fabricante/novo}">Novo fabricantes</a>

	<br />
	<br />
	
	<table class="table">

		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Descrição</th>
				<th>Operação</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="fabricante : ${fabricante}">
				<td th:text="${fabricante.id}"></td>
				<td th:text="${fabricante.nome}"></td>
				<td th:text="${fabricante.descricaoFabricante}"></td>
				<td>
					<a class="btn btn-primary" th:href="@{/fabricante/editar/{id}(id=${fabricante.id})}">Editar</a>
					<a class="btn btn-danger" th:href="@{/fabricante/excluir/{id}(id=${fabricante.id})}">Excluir</a>
				</td>
			</tr>
		</tbody>

	</table>
</div>
</body>
</html>