<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="layoutPadrao">
<head>
<meta charset="UTF-8" />
<title>Lista de fabricantes</title>


</head>
<section layout:fragment="conteudo">

<br />
<div class="container">
	<h3>Lista de Fabricantes</h3>

	<a class="btn btn-primary"  style="float: right;" th:href="@{/fabricante/novo}">Novo fabricantes</a>

	<br />
	<br />
	<br />
	
	<table class="table">

		<thead>
			<tr>
				<th style="text-align: center;" >Id</th>
				<th style="text-align: center;">Nome</th>
				<th style="text-align: center;">Descrição</th>
				<th style="text-align: center;" >Operação</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="fabricante : ${fabricante}">
				<td th:text="${fabricante.id}" style="text-align: center;"></td>
				<td th:text="${fabricante.nome}" style="text-align: center;"></td>
				<td th:text="${fabricante.descricaoFabricante}" style="text-align: center;"></td>
				<td>
					<a class="btn btn-primary" style="text-align: center;" th:href="@{/fabricante/editar/{id}(id=${fabricante.id})}">Editar</a>
					<a class="btn btn-danger" style="text-align: center;" th:href="@{/fabricante/excluir/{id}(id=${fabricante.id})}">Excluir</a>
				</td>
			</tr>
		</tbody>

	</table>
</div>
</section>
</html>