<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="layoutPadrao">
<head>
<meta charset="UTF-8"/>
<title>Cadastro de Fabricante</title>
</head>
<section layout:fragment="conteudo">


<div class="container">
<div class="container">
<br/>
<h3>Cadastro de Fabricante</h3>

<br />
<a class="btn btn-primary" style="float: right;" th:href="@{/fabricante}" >Lista fabricantes</a>

<br />
<br />

<form class="container" action="/fabricante" method="POST" th:object="${fabricante}">

<div layout:include="mensagemErro"></div>

<div layout:include="mensagemGeral"></div>

<div class="alert alert-success" role="alert" th:if="${!#strings.isEmpty(mensagem)}">
  <span th:text="${mensagem}"></span>
</div>

<br />

<input type="hidden" th:field="*{id}" />

<div class="form-group">
<label for="nome">Nome:</label>
<input class="form-control" placeholder="Informe o Nome" type="text" th:field="*{nome}" />
</div>

<div class="form-group">
<label for="descricao">Descrição:</label>
<input class="form-control" type="text" placeholder="Informe a Descrição do Fabricante" th:field="*{descricaoFabricante}"/>
</div>

<button class="btn btn-primary" type="submit">Salvar</button>

</form>

</div>
</div>
</section>
</html>