<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="layoutPadrao">
<head>
<meta charset="UTF-8" />
<title>Lista de Locações</title>
</head>
<section layout:fragment="conteudo">
<div class="container">
<br/>
	<h2>Lista de locações</h2>

	<a class="btn btn-primary" style="float: right;" th:href="@{/locacao/novo}">Nova locação</a>

	<br/>
	<br/>
	<br/>
	<table class="table">

		<thead>
			<tr>
				<th style="text-align: center;">Id</th>
				<th style="text-align: center;" >Dt.Locação</th>
				<th style="text-align: center;" >Dt.Devolução</th>
				<th style="text-align: center;">Total</th>
				<th style="text-align: center;">Dias Locados</th>
				<th style="text-align: center;">Diária</th>
				<th style="text-align: center;">Carro</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="locacao : ${locacao}">
				<td th:text="${locacao.id}" style="text-align: center;"></td>
				<td th:text="${{locacao.dataDeLocacao}}" style="text-align: center;"></td>
				<td th:text="${{locacao.dataDeDevolucao}}" style="text-align: center;"></td>
				<td th:text="|R$ ${{locacao.valorTotal}}|" style="text-align: center;"></td>
				<td th:text="${#numbers.formatInteger(locacao.diasLocados,0,'NONE')}" style="text-align: center;"></td>
				<td th:text="|R$ ${{locacao.carro.valorDaDiaria}}|" style="text-align: center;"></td>
				<td th:text="${locacao.carro.placa}" style="text-align: center;"></td>
				<td>
				
					<a class="btn btn-primary" style="text-align: center;" th:href="@{/locacao/editar/{id}(id=${locacao.id})}">Editar</a>
					<a class="btn btn-danger" style="text-align: center;" th:href="@{/locacao/excluir/{id}(id=${locacao.id})}">Excluir</a>
				</td>
			</tr>
		</tbody>

	</table>
</div>
</section>
</html>