<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="layoutPadrao">
<head>
<meta charset="UTF-8"/>
<title>Cadastro de locações</title>
</head>

<section layout:fragment="conteudo">
<div class="container">
<br />
<h3>Cadastro de Locação</h3>

<a class="btn btn-primary" style="float: right;" th:href="@{/locacao}" >Lista locações</a>
<br />
<br />
<form class="container" action="/locacao" method="POST" th:object="${locacao}">

<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
	<div th:each="detailedError : ${#fields.detailedErrors()}" >
		<span th:text="${detailedError.message}"></span>
	</div>
</div>

<div class="alert alert-success" role="alert" th:if="${!#strings.isEmpty(mensagem)}">
  <span th:text="${mensagem}"></span>
</div>

<br />

<input type="hidden" th:field="*{id}" />

<div class="form-group">
<label for="valorTotal">Valor total:</label>
<input class="form-control" type="text" th:field="*{valorTotal}" />
</div>

<div class="form-group">
<label for="dataDeLocacao">Data de locação:</label>
<input class="form-control" type="text" th:field="*{dataDeLocacao}"/>
</div>

<div class="form-group">
<label for="dataDeDevolucao">Data de devolucao:</label>
<input class="form-control" type="text" th:field="*{dataDeDevolucao}"/>
</div>

<div class="form-group">
<label for="motorista">Motorista</label>
<select class="custom-select" th:field="*{motorista}"> 
	<option th:each="motorista : ${todosOsMotoristas}" 
	  th:text="${motorista.nome}" 
	  th:value="${motorista.id}"></option>
</select>
</div>

<div class="form-group">
<label for="carro">Carro</label>
<select class="custom-select" th:field="*{carro}"> 
	<option th:each="carro : ${todosOsCarros}" 
	  th:text="${carro.placa}" 
	  th:value="${carro.id}"></option>
</select>
</div>

<button class="btn btn-primary" type="submit">Salvar</button>

</form>
</div>
</section>
</html>