<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="layoutPadrao">
<head>
<meta charset="UTF-8" />
<title>Lista de Modelos</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
</head>
<section layout:fragment="conteudo">



<div class="container">
<br />
	<h2>Lista de Modelos</h2>
	<a class="btn btn-primary" style="float: right;" th:href="@{/modelo/novo}">Novo modelo</a>

	<br />
	<br />
	<br />
	<table class="table">

		<thead>
			<tr>
				<th style="text-align: center;">Id</th>
				<th style="text-align: center;">Descricao</th>
				<th style="text-align: center;">Fabricante</th>
				<th style="text-align: center;">Categoria</th>
				<th style="text-align: center;" >Operação</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="m : ${modelo}">
				<td th:text="${m.id}" style="text-align: center;"></td>
				<td th:text="${m.descricao}" style="text-align: center;"></td>
				<td th:text="${m.fabricante.nome}" style="text-align: center;"></td>
				<td th:text="${m.categoria.descricao}" style="text-align: center;"></td>
				<td>
					<a class="btn btn-primary" style="text-align: center;" th:href="@{/modelo/editar/{id}(id=${m.id})}">Editar</a>
					<a class="btn btn-danger" style="text-align: center;" th:href="@{/modelo/excluir/{id}(id=${m.id})}">Excluir</a>
				</td>
			</tr>
		</tbody>

	</table>
</div>
</section>
</html>