<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="layoutPadrao">
<head>
<meta charset="UTF-8" />
<title>Lista de Motoristas</title>
</head>

<section layout:fragment="conteudo">

<div class="container">
	<br />
	<h3>Lista de Motoristas</h3>

	<a class="btn btn-primary" style="float: right;" th:href="@{/motorista/novo}">Novo Motorista</a>
	<br />
	<br />
	<br />
	<table class="table">
		<thead>
			<tr>
				<th style="text-align: center;" >Id</th>
				<th style="text-align: center;" >Nome</th>
				<th style="text-align: center;">CPF</th>
				<th style="text-align: center;" >CNH</th>
				<th style="text-align: center;" >Operação</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="motorista : ${motorista}">
				<td th:text="${motorista.id}" style="text-align: center;"></td>
				<td th:text="${motorista.nome}" style="text-align: center;" ></td>
				<td th:text="${motorista.cpf}" style="text-align: center;"></td>
				<td th:text="${motorista.cnh}" style="text-align: center;" ></td>
				<td>
					
					<a class="btn btn-primary"   th:href="@{/motorista/editar/{id}(id=${motorista.id})}">Editar</a>
					<a class="btn btn-danger"  th:href="@{/motorista/excluir/{id}(id=${motorista.id})}">Excluir</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</section>
</html>